:root {
  --diveblue: #20445E;
}

.header {
  height: 100px;
  background-color: var(--diveblue);
  color: whitesmoke;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE FIRST RESPONSIVE */

@media only screen and (min-width: 767px) { /*para Tablet*/
 
}

@media only screen and (min-width: 1024px) { /*para Desktop*/
  
}