* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* para la animacion del componente GoUp */
}

:root {
  --diveblue: #204560; /* Main color */
  --divelightblue: #8cb9d9; /* Active color, Hover */
  --diveboxbg: #f0f4f7; /* Text box background */
  --divewhite: #f5f5f5; /* Text color */
  --diveremove: #c32240; /* Remove color */
  --divegrey: #adb5bd; /* Border color */
}

/* START GLOBAL CLASSES & ELEMENTS  */

.d-flex {
  display: flex;
}

.divebox {
  background-color: var(--diveboxbg);
  border: 1px solid var(--divegrey);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.backgroundimg {
  background-color: var(--diveblue);
  background-image: url("images/portrait.jpg");
  background-blend-mode: luminosity;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputblock {
  margin-bottom: 15px;
}

.inputblock input,
.inputblock select {
  margin-left: 5px;
}

button {
  border: solid 1px var(--divegrey);
  border-radius: 5px;
  padding: 3px;
  font-size: large;
  background-color: var(--diveblue);
  color: var(--divewhite);
  cursor: pointer;
}

button:hover {
  background-color: var(--divelightblue);
  transition: 0.2s;
}

input,
select,
textarea {
  border: solid 1px var(--divegrey);
  border-radius: 8px;
  padding: 8px;
}

/* END GLOBAL CLASSES & ELEMENTS  */

/* START NAVBAR  */

.navbar {
  background-color: var(--diveblue);
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar a,
.hamburger {
  color: var(--divewhite);
  text-decoration: none;
  margin-inline: 5px;
  padding: 5px;
  cursor: pointer;
}

.hamburger a {
  display: block;
}

.navbar a:hover {
  border-bottom: solid 3px var(--divelightblue);
}

.active {
  background-color: var(--divelightblue);
  border-radius: 10px;
  color: #333 !important;
  border: none !important;
}

.navlinks {
  display: none;
}

.navlogin span {
  margin-left: 10px;
}

/* END NAVBAR  */

/* START HEADER  */

header {
  height: 100px;
  background-color: var(--diveblue);
  color: var(--divewhite);
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

header img {
  height: 130px;
}

/* END HEADER  */

/* START INDEX PAGE  */

.indexpage {
  flex-direction: column;
}

.indexpage h2 {
  align-self: center;
}

.indexpage button {
  align-self: center;
  padding: 20px;
  margin: 30px;
  font-size: 1.5em;
}
.popular {
  flex-direction: column;
}

.destinationcard {
  flex-direction: column;
}

.destinationcard h4 {
  margin-bottom: 8px;
}

.destinationcard p {
  height: 30%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--divelightblue) var(--diveboxbg);
  margin-top: 0px;
  font-size: 0.8em;
}


.destinationimg {
  border-radius: 10px;
  height: 70%;
  width: 100%;
}

/* END INDEX PAGE  */

/* START LOGIN PAGE  */

.logincomponent {
  flex-direction: column;
  /* width: 80%; */
  justify-content: center;
}

.loginform h3,
.newaccount h3 {
  margin-top: 0px;
}

.loginform > form div {
  margin-top: 25px;
  margin-left: 10px;
}

.loginform input {
  display: block;
  margin-top: 5px;
  width: 75%;
}

/* END LOGIN PAGE  */

/* START DASHBOARD PAGE  */

.delete button {
  background-color: var(--diveremove);
}

.delete button:hover{
  background-color: #e4677e;
  transition: 0.2s
}

.dashboardpage button {
  margin-bottom: 10px;
}

.dashboardpage {
  justify-content: center;
}

#editform {
  width: 80%;
}

/* END DASHBOARD PAGE  */

/* START POST SHOP PAGE  */

.postpage {
  justify-content: center;
}

.badges {
  align-items: center;
  flex-wrap: wrap;
}

.badges > span {
  padding: 6px;
  background-color: var(--divelightblue);
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.badges > span:hover {
  cursor: pointer;
  background-color: var(--diveremove);
  color: var(--divewhite);
  transition: 0.2s;
}

.postpage textarea {
  display: block;
  width: 100%;
  height: 100px;
}


/* END POST SHOP PAGE  */

/* START REGISTER PAGE  */

.registercomponent {
  justify-content: center;
  align-items: center;
}

.registerform,
.registerform input {
  width: 100%;
}

.registerform h4 {
  margin-top: 0px;
}

.registerform input,
.registerform select {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px; /* different from login form */
  /* width: 75%; */
}

/* END REGISTER PAGE  */

/* START SEARCH PAGE  */

.searchpage,
.searchmain {
  flex-direction: column;
}

.searchbar,
.nothingfound,
.errorpage {
  flex-direction: column;
  align-items: center;
  background-color: var(--divewhite);
}

.searchbar label {
  margin-bottom: 8px;
}

.card {
  background-color: var(--diveboxbg);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card img {
  height: 200px;
  width: 100%;
}

.card img {
  border-radius: 10px;
}

.card span {
  font-size: 1.5em;
  margin-right: 10px;
}

.cardgrid {
  display: flex; /* no utilizamos clase global d-flex ya que con el responsive lo convertiremos a display:grid */
  flex-direction: column;
}

.filterbox {
  height: 0%; /* para que no se expanda hasta el footer */
  background-color: var(--divewhite);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.filterbox button {
  margin-top: 10px;
}

.Collapsible *:hover {
  cursor: pointer;
}

.Collapsible ul {
  padding-left: 0px;
  margin: 5px;
  font-weight: 500;
}

.pagination {
  flex-shrink: 2;
  align-self: center;
  display: flex; /* no utilizamos clase global porque funciona de manera interna en el componente de paginacion */
  justify-content: center;
  align-items: center;
  background-color: var(--diveboxbg);
  border-radius: 10px;
  height: 50px;
  margin: 5px;
  padding-left: 0px;
}

.pagination li {
  list-style: none;
  padding: 8px;
  margin-inline: 1px;
  border: solid 3px var(--diveboxbg);
  border-radius: 10px;
}

.pagination li:hover{
  cursor: pointer;
  border-color: var(--divelightblue);
}

.goup {
  align-self: flex-end;
}


/* END SEARCH PAGE  */

/* START SHOP PAGE  */

.shoppage {
  flex-direction: column;
}

.shop {
  background-color: var(--diveboxbg);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.shop span {
  margin-right: 10px;
}

.flags {
  font-size: 1.6em;
}

.shop h2,
.shop h3,
.shop h4 {
  margin-top: 0px;
}

.shop input,
.shop textarea {
  display: block;
}

.shop label {
  margin-left: 5px;
}

.shop textarea {
  width: 90%;
  height: 100px;
}

.shop img {
  width: 100%;
  border-radius: 10px;
}

/* END SHOP PAGE  */

/* START FOOTER  */

.pagecontainer {
  position: relative;
  min-height: 100vh;
}

.contentwrap {
  padding-bottom: 60px; /* footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--diveblue);
  color: var(--divewhite);
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.9em;
}

footer i {
  margin-inline: 6px;
}

/* END FOOTER  */

/* START MOBILE FIRST RESPONSIVE */

@media only screen and (min-width: 640px) { /* for Tablet */

  .popular {
    flex-direction: row;
  }

  .backgroundimg {
    background-image: url("images/bg4.jpg");
  }

  .navlinks {
    display: inline;
  }

  .hamburger {
    display: none;
  }

  .logincomponent {
    flex-direction: row;
  }

  .registerform {
    width: 50%;
  }

  .searchpage {
    flex-direction: row;
  }

  .searchmain {
    flex-grow: 1;
  }

  .cardgrid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .shop {
    width: 60%;
  }

  .shoppage {
    align-items: center;
  }

  .postpage form {
    width: 75%;
  }

  .postpage textarea {
    width: 80%;
  }

}

@media only screen and (min-width: 1024px) { /* for Desktop */
  
  .cardgrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .shop {
    width: 50%;
  }

  .registerform {
    width: 25%;
  }

  .postpage form {
    width: 60%;
  }
  
}

/* END MOBILE FIRST RESPONSIVE  */